<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id='title'>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>


<body>
    <div id="app" class='container'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Categorias</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" v-for='i, index in listaCategorias' :class="{active: indexAtivo == index}">
                        <a class="nav-link" @click='buscar(i); indexAtivo = i' href="#">{{i.categoria}} <span class="sr-only">(current)</span></a>
                    </li>

            </div>
        </nav>
        <div v-if='videos.length > 0'>

            <div v-for='i in videos' :key='i.filename' class="card  mb-5">
                <video controls>
                    <source :src="'public/videos/'+i.filename" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="card-body">
                    <h5 class="card-title">{{i.filename}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data:
        {
            message: 'oi',
            listaCategorias: [],
            videos: [],
            indexAtivo: -1
        },
        methods: {
            async iniciar() {
                this.listaCategorias = await (await fetch('/categorias')).json();
            },
            async buscar(i) {
                this.videos = await (await fetch("/categorias/" + i.categoria)).json();
                console.log(`Variavel this.videos: `, this.videos)
            }
        },
        created: function () {
            this.iniciar();
        }
    })

</script>

</html>